.o-main-banner {
    background: url(../../../src/assets/main-banner.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 93vh;
    position: relative;
}
.portfolio-item {
    margin-bottom: 15px;
    float: left;
}
.pagination {
    margin-bottom: 30px;
}
.o-banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    width: 100%;
    text-align: center;
    h6 {
        color: #fff;
        font-size: 25px;
        text-align: center;
        font-weight: bold !important;
        display: block;
        margin-bottom: 10px;
    }
    h1 {
        color: #fff;
        font-size: 40px;
        text-align: center;
        font-weight: bold !important;
        line-height: 50px;
        display: inline-block;
        max-width: 670px;
    }
    p {
        color: #fff;
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 10px;
        margin-top: 5px;
        max-width: 670px;
        display: inline-block;
    }
}
.o-devider {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 0px;
    span {
        display: inline-block;
        width: 50px;
        height: 4px;
        background-color: #f05f40;
    }
}
.o-devider-white {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 0px;
    span {
        display: inline-block;
        width: 50px;
        height: 4px;
        background-color: #fff;
    }
}
.o-banner-button {
    margin-top: 0px;
    text-align: center;
    a {
        display: inline-block;
        margin-top: 15px;
        border-radius: 3px;
        font-size: 16px;
        padding: 15px 35px;
        border: 1px solid $primary-color;
        color: $primary-color;
        text-transform: uppercase;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.15);
        &:hover {
            background-color: $primary-color;
            color: #fff;
        }
    }
}
.o-banner-button-inverse {
    margin-top: 0px;
    text-align: center;
    a {
        display: inline-block;
        margin-top: 15px;
        border-radius: 3px;
        font-size: 16px;
        padding: 15px 35px;
        border: 1px solid $primary-color;
        color: $primary-color;
        text-transform: uppercase;
        font-weight: bold;
        background-color: #fff;
        &:hover {
            background-color: darken($primary-color, 10%);
            color: #fff;
        }
    }
}
.o-got-section {
    background-color: $primary-color;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
    h1 {
        color: #fff;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: bold;
    }
    p {
        color: #fff;
        line-height: 20px;
    }
}
.service-section {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.common-heading {
    color: #000;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}
.service-list {
    margin-top: 15px;
    margin-bottom: 15px;
    i {
        font-family: 'FontAwesome';
        font-size: 65px;
        color: $primary-color;
    }
    h5 {
        font-weight: bold;
        font-size: 20px;
        color: #000;
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 10px;
        line-height: 20px;
    }
}
.o-no-padding {
    padding: 0px;
}
.portfolio-list {
    height: 200px;
    overflow: hidden;
    position: relative;
    display: block;
}
.portfolio-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h5 {
        color: #dbdbdb;
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 5px;
        font-weight: bold;
    }
    h2 {
        color: #fff;
        font-size: 22px;
        font-weight: bold;
    }
}
.portfolio-overlay-area {
    display: none;
    background-color: rgba(240, 95, 64, 0.75);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.portfolio-list {
    img {
        width: 100%;
    }
}
.portfolio-list:hover .portfolio-overlay-area {
    display: block;
}
.contact-form {
    margin-top: 20px;
}
.portf-list {
    overflow: hidden;
    li {
        float: left;
        width: 33.333%;
        margin: 0px !important;
    }
}
.contact-input {
    margin-bottom: 15px;
    input {
        height: 38px;
    }
    label {
        display: block;
        text-align: left;
        margin-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        font-weight: bold;
        font-size: 15px;
        span {
            color: red;
            font-weight: normal;
            font-size: 12px;
        }
    }
}
.contact-modal-detail {
    li {
        display: block !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        font-size: 18px;
        strong {
            font-weight: bold;
            color: #000;
        }
    }
}
.modal-header {
    .close {
        position: absolute;
        right: 15px;
    }
}
.paginate-links {
    overflow: hidden;
    margin-bottom: 20px;
    display: inline-block;
    li {
        float: left;
        margin-right: 5px;
        &:last-child {
            margin-right: 0px;
        }
        a {
            padding: 10px 15px;
            border: #ccc 1px solid;
            display: inline-block;
            cursor: pointer;
            font-size: 13px;
            border-radius: 2px;
            color: #000;
            &:hover {
                border: $primary-color 1px solid;
                color: $primary-color !important;
            }
        }
        &.disabled {
            a {
                cursor: not-allowed;
                background-color: #ccc;
                color: #000;
                &:hover {
                    border: #ccc 1px solid;
                    color: #000 !important;
                }
            }
        }
    }
}
.project-pagination {
    text-align: right;
}
.product-img-area {
    max-height: 145px;
    overflow: hidden;
    a {
        display: block;
    }
}
.project-title {
    h4 {
        height: 34px;
    }
}
.no-padding {
    padding: 0px;
}
.sort-heading {
    line-height: 34px;
    display: block;
    font-weight: bold;
}
.sort-drop {
    float: right;
}
.services-area {
    height: 88vh;
    background-color: #ccc;
    padding-top: 50px;
    padding-bottom: 50px;
}
.sl-wrapper {
    z-index: 1040;
}
.sl-wrapper .sl-close {
    display: none;
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 1060;
    margin-top: -14px;
    margin-right: -14px;
    height: 44px;
    width: 44px;
    line-height: 44px;
    font-family: Arial, Baskerville, monospace;
    color: #000;
    font-size: 3rem;
}
.sl-wrapper button {
    border: 0 none;
    background: transparent;
    font-size: 28px;
    padding: 0;
    cursor: pointer;
}
.sl-wrapper .sl-counter {
    display: none;
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 1060;
    color: #000;
    font-size: 1rem;
}
.sl-wrapper .sl-navigation {
    width: 100%;
    display: none;
}
.sl-spinner {
    display: none;
    border: 5px solid #333;
    border-radius: 40px;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    opacity: 0;
    position: fixed;
    top: 50%;
    width: 40px;
    z-index: 1007;
    -webkit-animation: pulsate 1s ease-out infinite;
    animation: pulsate 1s ease-out infinite;
}
.sl-wrapper .sl-image {
    position: fixed;
    -ms-touch-action: none;
    touch-action: none;
    z-index: 10000;
}
.sl-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    opacity: .7;
    display: none;
    z-index: 1050;
}
@media (min-width: 50em) {
    .sl-wrapper .sl-navigation button.sl-prev {
        left: 20px;
        font-size: 3rem;
    }
}
@media (min-width: 35.5em) {
    .sl-wrapper .sl-navigation button.sl-prev {
        left: 10px;
        font-size: 3rem;
    }
}
.sl-wrapper .sl-navigation button.sl-prev {
    left: 5px;
    font-size: 2rem;
}
